extends ../base.pug

block content 

    - var title = "Importer une photo";

    include ../header.pug
    .descente
    .bloc

        form(role="form" method="post" action="" enctype="multipart/form-data")
            .flex 
                .blocTitre
                    img(src="/images/img_choisir_photo.svg")
                    label.titreLabel(for="photo")= "Choisissez une photo"
                .btnParcourir 
                    button.parcourir= "Parcourir"
                    input#photo(type="file" name="photo" required)
            
                .import-photo
                    img.imgCentrale(src="/images/img_centrale.svg")

                .blocTitreSelect 
                    img(src="/images/img_tag.svg")
                    p.titreLabel= "Ajouter un filtre"
                select.filtre(name='filtre')
                    each filtre in listeFiltre
                        option(value=filtre.id_filtre)= filtre.nom_filtre

                .blocTitreCommentaire 
                    img(src="/images/img_commentaire.svg")
                    label.titreLabel(for="comments")= "Ajouter un commentaire"
                
                textarea#comments.commentaires(name="comments" placeholder="Votre commentaire ici" required)

                button.envoyer(type="submit")= "Envoyer"

    script(src="/javascript/ajout_photo.js") 