extends ../base.pug

block content

    - var title = nomSousCategorie;

    include ../header.pug

    // ScrollBar Horizontal des filtres
    //- .scroll-toggle 
    //-     ul.list
    //-         form(method="post") 
    //-             each filtre in listeFiltre
    //-                 input(type="hidden" value=filtre.id_filtre)
    //-                 button(type="submit" class="form-btn")
    //-                     li.list-item #{filtre.nom_filtre}
    //- // Affichages des photos
    //- each photo in listePhotos
    //-     img.photos(src="data:image/png;base64,#{photo.photo_pose}")
    //- input pour recuperer l'id du filtre en hidden

    .scroll-toggle 
        ul#listeFiltre
            each filtre in listeFiltre
                li#{filtre.nom_filtre} #{filtre.nom_filtre}


    // Menu du bas de page
    ul.navbar-bottom
        li
            a(href="")
                img(src="/images/clarity_home-line.png")
        li
            a(href="")
                img(src="/images/clarity_search-line.png")
        li.monte
            a(href="")
                img(src="/images/BOUTON_AJOUT_PHOTO.png")
        li
            a(href="")
                img(src="/images/MENU_COMMENTAIRE.png")
        li
            a(href="")
                img(src="/images/MENU_FAVORIS.png")

    script.
        const btn = document.querySelector('.form-btn')
        
        btn.addEventListener('click', (event) => {
            event.preventDefault()
        })