extends ../base.pug

block content

    ul
        li='S'
        li='Y'
        li='N'
        li='C'
        li='H'
        li='R'
        li='O'
        li='N'
        li='I'
        li='S'
        li='A'
        li='T'
        li='I'
        li='O'
        li='N'